.header-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
  width: 50%;
  position: relative;
  left: 5%;
}

.subheader {
  color: #afaaaa;
  font-size: 1.5rem;
}